article {
    padding: 10px 50px 10px 50px;
    flex-basis: 80%;
    flex-shrink: 1;
    max-width: 100%;
}

article h2 {
    font-size: 2em;
}

article h3 {
    font-size: 1.4em;
}

article section {
    padding: 10px 20px 10px 20px;
}

article dfn {
    background-color: #ececec;
    font-size: 0.875em;
    border-radius: 2px;
    display: inline-block;
    padding: 2px 7px 2px 7px;
    font-style: normal;
    font-weight: 600;
    margin: 1px 0px 1px 0px;
}

article dt {
    display: inline-block;
    padding: 2px 7px 2px 7px;
    background-color: #4c4c4c;
    color: white;
    border-radius: 3px;
}

article .responsive {
    display: flex;
    flex-wrap: wrap;
}

article .responsive > * {
    display: block;
    flex-grow: 1;
    flex-shrink: 0;
}

article pre {
    padding: 10px;
    margin: 0px;
}

article code {
    display: block;
    background-color: #f0f9fb;
    color: #1b1b1b;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.15em;
}

article samp {
    display: block;
    padding: 20px;
    font-size: 1.05em;
    border-radius: 5px;
    background-color: #353535;
    color: white;
}

@media (max-width: 1024px) {

    article {
        padding: 10px 30px 10px 30px;
    }

    article section {
        padding: 5px 0px 5px 0px;
    }

    article section {
        padding: 5px 0px 5px 0px;
    }

    article pre {
        padding: 5px;
    }

}

@media only screen and (max-width: 480px) {

    article {
        padding: 10px 15px 10px 15px;
    }

}
