#sandbox-article {
    flex-basis: 100%;
}

#sandbox-article h3 {
    font-size: 1em;
}

#sandbox-article, #sandbox-article .flexed {
    display: flex;
}

#sandbox-article, #sandbox-article .column {
    flex-direction: column;
}

#sandbox-article .flexing {
    flex: 1;
}

#sandbox-article .padded {
    padding: 10px;
}

#sandbox-article iframe {
    border: none;
    opacity: 0.4;
    box-shadow: 0px 0px 7px rgba(0,0,0,0.25);
    animation-name: sandbox-ouput-in;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

#sandbox-article iframe.update-pending {
    animation-name: sandbox-ouput-out;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

#sandbox-article .resizer {
    flex-basis: 10px;
}

#sandbox-article .editor {
    font-family: monospace;
    white-space: pre;
    border-radius: 5px;
    background-color: #f3f3f3;
    outline: none;
    overflow: auto;
}

@keyframes sandbox-ouput-in {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes sandbox-ouput-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}
