#sandbox-article {
    flex-basis: 100%;
}

#sandbox-article h3 {
    font-size: 1em;
}

#sandbox-article, #sandbox-article .flexed {
    display: flex;
}

#sandbox-article, #sandbox-article .column {
    flex-direction: column;
}

#sandbox-article .flexing {
    flex: 1;
}

#sandbox-article .padded {
    padding: 10px;
}

#sandbox-article iframe {
    border: 1px solid grey;
}

#sandbox-article .editor {
    font-family: monospace;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;
}
