aside ul {
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    font-size: 0.9em;
}

aside > ul {
    font-size: 1.15rem;
    padding: 15px 0px 15px 0px;
    margin: 0px;
}

aside li {
    display: block;
}

aside li.active > button {
    background-color: grey;
    color: white;
}

aside li > button {
    text-align: left;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: calc(200px - 10em);
    display: block;
    width: 100%;
    min-width: 200px;
}

aside li > button:hover {
    background-color: lightgray;
}

aside li > ul {
    height: 0px;
    transition: height 400ms;
}

aside li.open > ul {
    height: auto;
}
