#toolbar {
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 30px;
    flex-shrink: 0;
}

#toolbar > button {
    background-image: url(../img/baseline_menu_black_36dp.png);
    width:  30px;
    height: 30px;
    border-radius: 3px;
    flex-shrink: 0;
    margin-right: 30px;
    display: none;
}

#toolbar > h1 {
    margin: 0px;
    cursor: pointer;
}

#version {
    margin-left: 10px;
    font-size: 0.6em;
    color: #c3c3c3;
}

#search-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0px;
    margin: 0px 30px 0px 30px;
    display: flex;
    justify-content: flex-end;
}

#search {
    background-color: #f3f3f3;
    width: 300px;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px 20px 10px 20px;
    display: flex;
    transition: width 400ms, background-color 400ms, box-shadow 400ms;
}

#search.focused {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 100%;
}


#search > .icon {
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    margin-right: 20px;
    background-image: url(../img/round_search_black_36dp.png);
}

#search > input {
    background-color: transparent;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 10px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid black 2px;
    padding-left: 20px;
    outline: none;
    font-size: 1.1em;
    color: inherit;
    display: block;
}

#external-links > a {
    width: 30px;
    height: 30px;
    display: block;
    opacity: 0.5;
}

#github-button {
    background-image: url(../img/GitHub-Mark-32px.png);
}

@media (max-width: 1024px) {

    #toolbar > button {
        display: block;
    }

}

@media only screen and (max-width: 480px) {

    #toolbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    #toolbar > button {
        margin-right: 15px;
    }

    #search-wrapper {
        display: none;
    }

    #external-links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

}
